<hr />
<div>
    <form class='formulario'>
        <div>
            <label for="">Nome</label>
            <input class='form-control' name='nome' type="text" #nome>
        </div>
        <div>
            <label for="">Idade</label>
            <input class='form-control' name='idade' type="number" #idade>
        </div>
        <div>
            <label for="">Diagnóstico</label>
            <input class='form-control' name='diagnostico' type="text" #diagnostico>
        </div>
    </form>
    <hr />
    <div clas='botoes'>
        <button
            (click)="addPaciente(nome.value,idade.value,diagnostico.value); nome.value='';idade.value='0';diagnostico.value=''">Incluir</button>
            <button
            (click)="listarPacientes()">Listar Pacientes</button>
    </div>
    <hr />
    <div class='grade'>
        <table>
            <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Condição</th>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of listapacientes; let i=index">
                    <td>{{paciente._id}}</td>
                    <td>{{paciente.nome}}</td>
                    <td>{{paciente.idade}}</td>
                    <td>{{paciente.diagnostico}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>