<div class='centralizar-fixed'>
    <h1 class="jumbotron">Relatório de desempenho</h1>
</div>
<br />
<div class='centralizar'>
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline">
                <button class="btn btn-outline-primary" style="width: auto; min-width: 15%; text-align: left;"
                    id="dropdownBasic1" ngbDropdownToggle>{{paciente.nome}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let paciente of listapacientes; let i=index"
                        (click)="evolucaoPacienteID(paciente._id)">{{paciente.nome}}</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline">
                <button class="btn btn-outline-primary" style="width: auto; min-width: 15%; text-align: left;"
                    id="dropdownBasic1" ngbDropdownToggle>{{profissionalNome}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let profissional of profissionais; let i=index"
                        (click)="evolucaoPacienteProfissional(profissional.nome,profissional.especializacao)">{{profissional.nome}}
                        - {{profissional.especializacao}}</button>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" style="width: auto; min-width: 15%;"
                (click)="open(content)">Imprimir</button>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-2">
            <label class="col-md-2 col-form-label">Nome:</label>
        </div>
        <div class="col-md-4">{{paciente.nome}}</div>
        <div class="col-md-2">
            <label class="col-md-2 col-form-label">Profissional</label>
        </div>
        <div class="col-md-4">{{profissionalNome}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="col-md-2 col-form-label">Idade:</label>
        </div>
        <div class="col-md-4">{{paciente.idade}}</div>
        <div class="col-md-2">
            <label class="col-md-2 col-form-label">Especialização</label>
        </div>
        <div class="col-md-4">{{profissionalEspecializacao}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="col-md-2 col-form-label">Condição:</label>
        </div>
        <div class="col-md-4">{{paciente.diagnostico}}</div>
    </div>

    <hr />
    <div>
        <google-chart #chart [title]="title" [type]="type" [data]="data" [columns]="columnNames" [options]="options"
            [width]="width" [height]="height">
        </google-chart>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss" id="reportM">
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title" style="text-align: center; font-weight: bold;">Relatório de
            desempenho de {{paciente.nome}}</h2>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-3">
                    <label class="col-md-3 col-form-label">Condição:</label>
                </div>
                <div class="col-md-4">{{paciente.diagnostico}}</div>
                <div class="col-md-2">
                    <label class="col-md-2 col-form-label">Idade:</label>
                </div>
                <div class="col-md-1">{{paciente.idade}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="col-md-4 col-form-label">Profissional</label>
                </div>
                <div class="col-md-8">{{profissionalNome}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="col-md-4 col-form-label">Especialização</label>
                </div>
                <div class="col-md-8">{{profissionalEspecializacao}}</div>
            </div>
            <hr />
            <google-chart #chart [title]="title" [type]="type" [data]="data" [columns]="columnNames" [options]="options"
                [width]="widthM" [height]="heightM">
            </google-chart>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="print()">Imprimir</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Fechar</button>
    </div>
</ng-template>