table, tr, td{
    border: 1px solid black;
}

#tabeladados > td{
    width: 25%;
    height: auto;
}

label{
    font-weight: bold;
}

.centralizar-fixed{
    margin-top: 1%;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    position: fixed;
}

.centralizar-fixed > .jumbotron{
    text-align: center; 
    font-weight: bold;
    padding-top: 0%;
    padding-bottom: 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.centralizar{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

#dadospaciente{
    width: 50%; 
    display: inline-block;
    text-align: left;
}

#dadospaciente > label{
    font-display: bold;
    float: left;
}

#dadospaciente > h2{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

#detalhespaciente{
    width: 50%; 
    display: inline-block;
    text-align: left;
}

#teste{
    margin: 5px 0;
    height: 100px; 
}