<hr />
<div>
    <label for="pacientes">Pacientes</label>
    <form>
        <ul class="" role="">
            <li role="" *ngFor="let paciente of listapacientes; let i=index">
                <a class="" (click)="listarAtendimentosPaciente(paciente._id)">{{paciente._id}} - {{paciente.nome}}</a>
                <!--<a class="" >{{paciente.nome}}</a>-->
            </li>
        </ul>
    </form>
</div>
<hr />
<div class='grade'>
    <table>
        <thead>
            <th>Paciente ID</th>
            <th>Paciente Nome</th>
            <th>Data</th>
            <th>Profissional Nome</th>
            <th>Profissional Especialização</th>
            <th>Atendimento</th>
            <th>Orientacao</th>
            <th>Detalhes</th>
        </thead>
        <tbody>
            <tr *ngFor="let atendimento of atendimentosPaciente; let i=index">
                <td>{{atendimento.pacienteID}}</td>
                <td>{{atendimento.pacienteNome}}</td>
                <td>{{atendimento.atendimentoData}}</td>
                <td>{{atendimento.profissionalNome}}</td>
                <td>{{atendimento.profissionalEspecialidade}}</td>
                <td>{{atendimento.atendimento}}</td>
                <td>{{atendimento.orientacao}}</td>
                <td><button type="button" data-target="#modal">detalhe</button></td>
            </tr>
        </tbody>
    </table>
    <div class="modal-teste">
        <div id="modal">
            <h1>Teste de Modal</h1>
            <button>OK</button>
        </div>
    </div>
</div>