<hr />
<div>
    <form class='formulario'>
        <div>
            <label for="">Atendimento</label>
            <input class='form-control' name='atendimento' type="text" #atendimento>
        </div>
        <div>
            <label for="">Orientação</label>
            <input class='form-control' name='orientacao' type="text" #orientacao>
        </div>
    </form>
    <hr />
    <div clas='botoes'>
        <button
            (click)="addInfo(atendimento.value,orientacao.value); atendimento.value=''; orientacao.value='' ">Incluir
            informação</button>
    </div>
    <hr />
    <div class='grade'>
        <table>
            <thead>
                <th>Data</th>
                <th>Atendimento</th>
                <th>Orientacao</th>
            </thead>
            <tbody>
                <tr *ngFor="let info of informacoes; let i=index">
                    <td>{{info.data | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{info.atendimento}}</td>
                    <td>{{info.orientacao}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>