<div class='centralizar-fixed'>
    <h1 class="jumbotron">Registro de Atendimentos</h1>
</div>    
    <br />
<div class='centralizar'>

    <div ngbDropdown class="d-inline">
        <button class="btn btn-outline-primary" style="width: auto; min-width: 15%; text-align: left;" id="dropdownBasic1" ngbDropdownToggle>{{profissionalNome}} {{profissionalEspecialidade}}</button>
        <div ngbDropdownMenu aria-h2ledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let profissional of profissionais; let i=index"
                (click)="selecionaProfissional(profissional._id,profissional.nome,profissional.especializacao)">{{profissional.nome}} - {{profissional.especializacao}}</button>
        </div>
    </div>

    <hr />

    <div ngbDropdown class="d-inline">
        <button class="btn btn-outline-primary" style="width: auto; min-width: 15%; text-align: left;" id="dropdownBasic1" ngbDropdownToggle>{{pacienteNome}} {{pacienteDiagnostico}}</button>
        <div ngbDropdownMenu aria-h2ledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let paciente of pacientes; let i=index"
                (click)="selecionaPaciente(paciente._id,paciente.nome,paciente.idade,paciente.diagnostico)">{{paciente.nome}} - {{paciente.diagnostico}}</button>
        </div>
    </div>
    <hr />
    <div>
        <form class='formulario'>

<div class="row">
    <div class="col-md-2"><h2 for="">Profissional: </h2></div>
    <div class="col-md-3"><a>{{profissionalNome}}</a></div>
    <div class="col-md-2"><h2 for="">Especialização: </h2></div>
    <div class="col-md-4"><a>{{profissionalEspecialidade}}</a></div>
</div>
<div class="row">
    <div class="col-md-1"><h2 for="">Nome: </h2></div>
    <div class="col-md-2"><a>{{pacienteNome}}</a></div>
    <div class="col-md-1"><h2 for="">Idade: </h2></div>
    <div class="col-md-1"><a>{{pacienteIdade}}</a></div>
    <div class="col-md-1"><h2 for="">Condição: </h2></div>
    <div class="col-md-6"><a>{{pacienteDiagnostico}}</a></div>
</div>

            <div>
                <label for="">Atendimento</label>
                <textarea class='form-control' name='atendimento' type="textarea" #atendimento></textarea>
            </div>
            <div>
                <label for="">Orientação</label>
                <textarea class='form-control' name='orientacao' type="textarea" #orientacao></textarea>
            </div>
           
        </form>
        <hr />
        <div>
            <h2>Evolução</h2>
        </div>

        <div ngbDropdown class="d-inline">
            <button class="btn btn-outline-primary" style="width: auto; min-width: 15%; text-align: left;" id="dropdownBasic1" ngbDropdownToggle>{{btnEvolucao}}</button>
            <div ngbDropdownMenu aria-h2ledby="dropdownBasic1">
                <option ngbDropdownItem *ngFor="let ev of evolucao; let i=index" value=ev.valor
                    (click)="selecionaEvolucao(ev.valor)">{{ev.descricao}}</option>
            </div>
        </div>

        <hr />
        <div clas='botoes'>
            <button class="btn btn-primary" style="width: auto; min-width: 15%;"
                (click)="addInfo(atendimento.value,orientacao.value); atendimento.value=''; orientacao.value='' ">Incluir informação</button>
        </div>
        <hr />
        <div>
            <div>
                <h2 style="align-self: center;">Lista de atendimentos</h2>
            </div>
            <table class="table table-striped">
                <thead>
                    <th>Paciente ID</th>
                    <th>Paciente Nome</th>
                    <th>Data</th>
                    <th>Profissional Nome</th>
                    <th>Profissional Especialização</th>
                    <th>Atendimento</th>
                    <th>Orientacao</th>
                    <th>Evolução</th>
                </thead>
                <tbody>
                    <tr *ngFor="let info of informacoes; let i=index">
                        <td>{{info.pacienteID}}</td>
                        <td>{{info.pacienteNome}}</td>
                        <td>{{info.atendimentoData}}</td>
                        <td>{{info.profissionalNome}}</td>
                        <td>{{info.profissionalEspecialidade}}</td>
                        <td>{{info.atendimento}}</td>
                        <td>{{info.orientacao}}</td>
                        <td>{{info.evolucao}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>
