table, tr, td{
    border: 1px solid black;
}

label{
    font-weight: bold;
}

a{
    margin-left: 5px;
    font-weight: bold;
    font-style: italic;
}

.centralizar-fixed{
    margin-top: 1%;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    position: fixed;
}

.centralizar-fixed > .jumbotron{
    text-align: center; 
    font-weight: bold;
    padding-top: 0%;
    padding-bottom: 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.centralizar{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}