table, tr, td{
    border: 1px solid black;
}

.centralizar{
    margin-right: 10%;
    margin-left: 10%;
}

label{
    font-weight: bold;
}

a{
    margin-left: 5px;
    font-weight: bold;
    font-style: italic;
}