<div class='centralizar-fixed'>
    <h1 class="jumbotron" style="text-align: center; font-weight: bold;">Registro de Atendimentos</h1>
</div>    
    <br />
<div class='centralizar'>

    <div ngbDropdown class="d-inline">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Selecionar profissional</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let profissional of profissionais; let i=index"
                (click)="selecionaProfissional(profissional._id,profissional.nome,profissional.especializacao)">{{profissional.nome}}
                - {{profissional.especializacao}}</button>
        </div>
    </div>

    <hr />

    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Selecionar paciente</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let paciente of pacientes; let i=index"
                (click)="selecionaPaciente(paciente._id,paciente.nome,paciente.idade)">{{paciente.nome}}</button>
        </div>
    </div>
    <hr />
    <div>
        <div>
            <h3>Atendimento</h3>
        </div>
        <form class='formulario'>
            <div style="float: left;">
                <label for="">Profissional: </label>
                <a>{{profissionalNome}}</a>
            </div>
            <div style="margin-left: 50%;">
                <label for="">Especialização: </label>
                <a>{{profissionalEspecialidade}}</a>
            </div>
            <div style="float: left;">
                <label for="">Nome: </label>
                <a>{{pacienteNome}}</a>
            </div>
            <div style="margin-left: 50%;">
                <label for="">Idade: </label>
                <a>{{pacienteIdade}}</a>
            </div>
            <div>
                <label for="">Atendimento</label>
                <input class='form-control' name='atendimento' type="text" #atendimento>
            </div>
            <div>
                <label for="">Orientação</label>
                <input class='form-control' name='orientacao' type="text" #orientacao>
            </div>
        </form>
        <hr />
        <div>
            <h3>Evolução</h3>
        </div>

        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Selecionar evolução</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <option ngbDropdownItem *ngFor="let ev of evolucao; let i=index" value=ev.valor
                    (click)="selecionaEvolucao(ev.valor)">{{ev.descricao}}</option>
            </div>
        </div>
        <h2>{{pacienteEvolucaoDsc}}</h2>

        <hr />
        <div clas='botoes'>
            <button class="btn btn-primary"
                (click)="addInfo(atendimento.value,orientacao.value); atendimento.value=''; orientacao.value='' ">Incluir
                informação</button>
        </div>
        <hr />
        <div>
            <div>
                <h3>Lista de atendimentos</h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <th>Paciente ID</th>
                    <th>Paciente Nome</th>
                    <th>Data</th>
                    <th>Profissional Nome</th>
                    <th>Profissional Especialização</th>
                    <th>Atendimento</th>
                    <th>Orientacao</th>
                    <th>Evolução</th>
                </thead>
                <tbody>
                    <tr *ngFor="let info of informacoes; let i=index">
                        <td>{{info.pacienteID}}</td>
                        <td>{{info.pacienteNome}}</td>
                        <td>{{info.atendimentoData}}</td>
                        <td>{{info.profissionalNome}}</td>
                        <td>{{info.profissionalEspecialidade}}</td>
                        <td>{{info.atendimento}}</td>
                        <td>{{info.orientacao}}</td>
                        <td>{{info.evolucao}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>
